/* This file is for your main application css. */

@import "./phoenix.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

$green: green;
$orange: orange;
$red: red;
$gray: gray;
$lightgray: lightgray;

.systemStatus {
  padding: 8px 16px;
  border-radius: 4px;
  &.statusok { background-color: $green; color: white; }
  &.statusdegraded { background-color: $orange; color: white; }
}


.incident {
  padding: 8px 16px;
  margin: 0px 0px 8px 0px;
  border: 1px solid $lightgray;
  border-top: 4px solid $orange;
  &.resolved { border-top: 4px solid $green; }
  font-size: 14px;
  .name {
    font-size: 15px;
  }

  .updates {
    padding: 8px 0px;
    .updateHeader {
      color: $gray;
      font-weight: 400;
    }
  }
}

.service {
  padding: 8px 8px;
  margin: 0px 0px 8px 0px;
  border-left: 4px solid $orange;
  position: relative;
  &.statusOK { border-left: 4px solid $green; }
  .description {
    font-size: 12px;
    color: $gray;
  }
  &.statusOK { .status { color: $green; } }
  &.statusDegraded { .status { color: $orange; } }
  .status {
    position: absolute;
    right: 8px;
    top: 8px;
    select { height: 28px; }
  }
}


h1, h2 {
  margin: 40px 0px 16px 0px;
  border-bottom: 1px solid $lightgray;
}

.about {
  color: $gray;
}
