@import 'node_modules/font-awesome/scss/font-awesome';
@import 'colors';
@import 'global';

.external-services .external-service {
  display: inline-block;
  margin: 15px;
}
.operation-banner {
  background-color: $color-green-opacity;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
}
.operation-banner.warn{ background-color: $color-orange-opacity; }
.operation-banner.error{ background-color: $color-red-opacity; }
.status-top-right{ position: absolute; top: 2px; right: 2px; font-size: 10px;}
.status-bottom-right{ position: absolute; bottom: 2px; right: 2px; font-size: 10px;}


.updates{
  position: relative;
  padding-bottom: 12px;
  margin: 5px 10px;
  .update_at {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    font-weight: bold;
    color: $color-gray;
  }
}

.maintenance {
  .components {
    .component {
      font-size: 10px; font-weight: bold; margin: 0px 5px;
      background-color: $color-green;
      display: inline-block;
      padding: 1px 5px;
      border-radius: 5px;
      color: $color-lightgray;
    }
  }
  .description { margin: 5px 0px; font-style: italic; }
}
