@import 'node_modules/font-awesome/scss/font-awesome';
@import 'colors';
@import 'global';

.external-services .external-service {
  display: inline-block;
  margin: 15px;
}
.operation-banner {
  background-color: $color-green-opacity;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
}
.operation-banner.warn{ background-color: $color-orange-opacity; }
.operation-banner.error{ background-color: $color-red-opacity; }
.status-bottom-right{ position: absolute; bottom: 2px; right: 2px; font-size: 10px;}
